.dropdown__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dropdown__item {
  background-color: $default-white;
  border-radius: 20px;
  position: relative;
  display: flex;
  margin-right: 8px;
  margin-bottom: 8px;
  min-width: 155px;

  &:after {
    content: '';
    position: absolute;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    top: 9px;
    right: 45px;
  }

  &--less {
      min-width: auto;
      width: 60px;

      input {
          width: 60px;
      }

      &:after {
          top: 9px;
          right: 15px;
      }
  }
}

.dropdown__button {
  border: none;
  background-color: $default-white;
  border-radius: 20px;
  padding: 9px 70px 10px 18px;
  font-size: 10px;
  line-height: 13px;
  max-height: 32px;
  color: $default-black;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  transition: $transition;
  cursor: pointer;

  &--category {
    padding-right: 30px;
    box-shadow: inset 0 0 0 1px $default-transparentgray;
  }

  &::placeholder {
    color: $default-transparentgray;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px $focus-color;
  }
}

.dropdown__close {
  background-color: $default-lightgray;
  border: none;
  border-radius: 0 20px 20px 0;
  margin-left: auto;
  right: 0;
  width: 32px;
  height: 32px;
  font-size: 26px;
  font-weight: 300;
  transition: $transition;
  cursor: pointer;
  position: absolute;
  display: none;

  &:focus {
    outline: none;
    background-color: $default-black;
    color: $default-white;
  }

  &--active {
    display: block;
  }
}

.dropdown__close.active {
  display: block;
}

.dropdown__list {
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: $default-white;
  width: 100%;
  top: 30px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10.5px 10.5px;
  display: none;

  max-height: 300px;
  overflow-x: auto;
  overflow-y: scroll;

  &::-webkit-scrollbar-track
  {
    border-radius: 10px;
    background-color: $bg-gray;
    width: 1160px;
    margin-left: 64px;
    margin-right: 64px;
  }

  &::-webkit-scrollbar
  {
    height: 8px;
    background-color: white;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: $neutral-gray;
  }

  li {
    display: flex;

    &:last-of-type {
      a {
        border: none;
      }
    }
  }

  li a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    transition: $transition;
    padding: 8px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus {
      background-color: $bg-gray;
    }
  }

  &--dots {
    min-width: 250px;
    overflow: hidden;
    padding: 15px;
    border-radius: 15px;
  }
}

.dropdown__list.active {
  display: block;
}
